@import '../../assets/scss/main';

.card {
    width: 141px;
    height: 283px;
}

.card.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.card__body {
    cursor: pointer;
    img {
        transition: all 0.2s ease;
    }
    &:hover {
        img {
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        }
    }
}

.card__info {
    p {
        width: 141px;
        margin-top: 12px;
    }
    p:first-child {
        font-size: 18px;
        font-weight: bold;
        color: $darker-blue;
        width: 80%;
    }
    
    p:last-child {
        color: $charcoal;
        font-size: 14px;
    }
}

img {
    max-width: 100%;
    border-radius: 4px;
    height: 200px;
    width: 141px;
    border: 5px solid transparent
}

input[type=checkbox] {
    display: none;
}

.checked {
    border: 5px solid $purple;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}