<div class="card form-group" [class.disabled]="disabled && !checked">
    <input
        class="form-control"
        type="checkbox"
        [(ngModel)]="checked"
        [id]="game.id"
        [name]="game.titulo"
        [value]="game.id"
        (change)="onChange(game, checked)">
    <label [for]="game.id">
        <div class="card__body">
            <div class="card__image">
                <img [class.checked]="checked" src="{{ game.urlImagem }}" alt="Imagem de {{ game.titulo }}">
            </div>
            <div class="card__info">
                <p>{{ service.getTitle(game) }}</p>
                <p>{{ game.ano }} / {{ service.getConsole(game) }}</p>
            </div>
        </div>
    </label>
</div>