@import '../../assets/scss/main';

.card {
    width: 141px;
    height: 283px;
}

.card__body {
    cursor: pointer;
}

.card__info {
    p {
        width: 141px;
        margin-top: 12px;
    }
    p:first-child {
        font-size: 18px;
        font-weight: bold;
        color: $darker-blue;
        width: 80%;
    }
    
    p:last-child {
        color: $charcoal;
        font-size: 14px;
    }
}

img {
    max-width: 100%;
    border-radius: 4px;
    height: 141px;
    width: 200px;
}

input[type=checkbox] {
    display: none;
}