<div class="home">
    <div class="home__side--left">
        <section class="home__greeting">
            <p>Boas vindas a</p>
            <p>Copa<span>Games</span></p>
        </section>
    
        <article class="home__description">
            A Lambda3 está organizando uma Copa do Mundo de games, e precisamos de sua ajuda para determinar quais
            gamesestarão no pódio e quem é o grande campeão. O resultado de cada partida é determinado de acordo com a nota
            do público para cada um dos games.
        </article>
    
        <button type="button">Quero começar!</button>
    </div>
    <div class="home__side--right">
        <div class="image">
            <img id="image__illustration" src="../../assets/images/ilustracao.svg" alt="Ilustração com a imagem de um controle de videogame e figuras geométricas ao redor">
        </div>
    </div>
</div>