@import '../../styles.scss';

section,
article,
button {
    margin-left: 100px;
}

.home {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    background-color: $blue;
}

.home__greeting {
    margin-top: 286px;
}


p {
    font-size: 36px;
    color: $white;
    &:nth-child(2) {
        margin-top: 12px;
        font-size: 53px;
    }
}

span {
    font-weight: bold;
}

article {
    width: 28rem;
    margin-top: 32px;
    color: $white;
    text-align: justify;
}

.home__button {
    margin-top: 40px;
}

button {
    background-color: $green;
    color: $black;
    font-weight: 500;
    padding: 16px 32px;
    border-radius: 16px;
    border: none;
    transition: all 0.2s ease;
    &:hover {
        background-color: $darker-green;
    }
}

img {
    max-height: 90vh;
    max-width: 100%;
}

button:hover {
    cursor: pointer;
}

@media (max-width: 667px) {
    .home {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    section,
    article {
        margin-left: 24px;
    }

    .home__greeting {
        width: 50%;
        margin: 0;
    }

    .home__button {
        display: flex;
        justify-content: center;
        button {
            margin-left: 0;
        }
        margin-bottom: 73px;
    }

    img{
        max-height: none;
    }
}