@import "../../assets/scss/main";

.resultado {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    height: 100vh;
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultado .card {
    height: 520px;
    width: 258px;
}

#info__title {
    color: $white;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    width: 248px;
    margin-top: 32px;
    margin-bottom: 16px;
}

#info__details {
    color: $white;
    width: 248px;
    text-align: center;
}

img {
    max-width: 100%;
    height: 365px;
    width: 268px;
    border-radius: 8px;
    border: 4px solid $sky-blue;
}