<div class="selecao">
    <div class="header">
        <a class="header__voltar" [routerLink]="['/']">
            <img src="../../assets/images/seta-esquerda.svg" alt="">
            <p>Voltar para o início</p>
        </a>
        <p class="header__title">Copa<span>Games</span></p>
    </div>
    <div class="description">
        <p>1. Seleção</p>
        <p>Para começar, selecione 8 jogos para entrar na competição e depois clique em Gerar Campeonato para prosseguir.</p>
    </div>
    <div class="options">
        <div class="options__selected">
            <p><span class="options__count">[0] de [8]</span> selecionados</p>
        </div>
        <button class="play">Gerar campeonato</button>
    </div>
    <div class="games">
        <div *ngIf="games$ | async as games; else loadingOrError">
            <ng-container *ngFor="let game of games; let i = index">
                <input type="checkbox" [id]="game.id" [value]="i" (change)="onChange(i)">
                <label [for]="game.id">
                    <app-card [game]=game></app-card>
                </label>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #loadingOrError>
    <div class="error" *ngIf="loadingError$ | async; else loading">
        Erro ao carregar os jogos.
    </div>
    <ng-template #loading>
        <div class="loading">
            Carregando jogos...
        </div>
    </ng-template>
</ng-template>