/* Colors */ 
$black: #111418;
$white: #FFFFFF;
$blue:  #334D80;
$green: #37D2A9;
$purple: #B485FF;
$yellow: #FFCD05;
$orange: #DD8945;
$silver: #C6C6C6; 
$cadet-blue: #B6C0CE;
$charcoal: #37414E;
$slate-gray: #6D819C;
$cornflower-blue: #8099E6;
$darker-blue: #111418;
$darker-green: #33BE99;