<header class="header">
    <div class="header__section--links">
        <img src="../../assets/images/lambda-logo.png" alt="Imagem logo da empresa lambda3">
        <div class="section__links">
            <a href="#">Sobre</a>
            <a href="#">Contato</a>
        </div>
        <div class="menu">
            <span class="hamburguer"></span>
        </div>
    </div>
    <div class="header__section--social">
        <img src="../../assets/images/twitter.svg" alt="">
        <img src="../../assets/images/facebook.svg" alt="">
        <img src="../../assets/images/instagram.svg" alt="">
    </div>
</header>
